[Unit]
Description=AWS update hostname & internal dns
DefaultDependencies=no
After=cloud-final.service
Conflicts=shutdown.target
Before=shutdown.target
{% if aws_dns_on_failure_notification is defined %}
{{ aws_dns_on_failure_notification }}
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/awsInternaldnsUpdate.py --start
SyslogIdentifier=updateHostnameDns
User=root
Group=root

[Install]
WantedBy=multi-user.target

