[Unit]
Description=AWS update hostname & internal dns
After=network.target auditd.service ntp.service
{% if aws_dns_on_failure_notification is defined %}
{{ aws_dns_on_failure_notification }}
{% endif %}

[Service]
ExecStartPre=sleep 5
ExecStart=/usr/local/bin/awsInternaldnsUpdate.py --start
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=updateHostnameDns
User=root
Group=root

[Install]
WantedBy=multi-user.target

